body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

ul {
    color: #1861ff;
    font-size: 20px;
    text-align: left;
    list-style-type: circle;
}